# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# Python and Django
venv/
*.pyc
__pycache__/

# Node / React
node_modules/
build/

# General
*.log
.DS_Store

